<% title "Force.com Session" %>
<div class='first-pane'>
	<h1>Force.com Session</h1>
</div>
<div class='pane'>

<!-- <p>
  <b>Serverbase:</b>
  <%=h @force.serverBase %>
</p> -->

<p>
  <b>Authorization:</b>
  <%=h @force.authorization %>
</p>



<%= link_to 'Edit', edit_force_path(@force) %>
</div>